@media (max-width: 1200px) {
    .popular__list {
        display: block;
    }
    
    .popular__item {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .special__list {
        margin: 0 auto;
    }

    .item-special__long {
        padding-bottom: 25px;
    }

    .news__list {
        display: block;
    }
    
    .news__item {
        display: block;
        margin: 0 auto;
    }

    .news__item img {
        width: 554px;
        height: 397px;
    }

    .news__body p {
        width: 240px;
    }

    .news__item--main p {
        width: 470px;
    }

    .modal-booking {
        max-width: 430px;
        max-height: 245px;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        background: grey;
    }
    .modal-booking__container {
        margin: 0;
    }

    .modal-booking h2,
    .modal-booking__text{
        margin-top: 50px;
        color: #fff;
    }

    .modal-booking__close {
        /* top: 20px; */
        right: 10px;
    }
}

@media (max-width: 767px) {
    .menu__list {
        display: none;
        width: 515px;
    }

    .main-header__title {
        font-weight: 500;
        font-size: 45px;
        margin: 0 auto;
        text-align: center;
    }

    .main-header p {
        margin: 0 auto;
        text-align: center;
    }

    .menu__body {
        display: block;
        text-align: center;
        margin-top: 0;
    }

    .menu__booking {
        margin: 50px auto;
    }

    .menu__logo {
        font-weight: 500px;
        font-size: 32px;
        margin: 0 auto;
    }

    .main-header__explore {
        margin-top: 30px ;
    }

    .about__list,
    .terms__list {
        display: none;
    }
    
    .footer__body {
        display: block;
        text-align: center;
        padding-left: 0;
    }

    .footer__subscribe {
        margin: 0 auto;
        margin-top: 50px;
    }

    .contacts-footer__item {
        margin: 0 auto;
    }

    .subscribe__button {
        top: 20px;
        left: -15px;
    }
    
    .subscribe__form {
        padding-bottom: 50px;
    }

    .popular__header p,
    .special__header p,
    .news__header p {
        padding: 0 10px;

    }

    .news__item {
        text-align: center; 
    }

    .news__item img {
        width: 263px;
        height: 201px;
        margin: 0 auto;
    }

    .news__body {
        margin: 0 auto;
    }

    .news__item--main p {
        max-width: 270px;
    }

    .burger-menu__list {
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .menu__theme {
        top: 5px;
    }

    .burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .show-burger {
        display: block;
    }

    .modal-booking {
        max-width: 280px;
        min-height: 245px;
        margin: 0;
        padding: 0;
        background: grey;
        color: #fff;
    }

    .modal-booking__text{
        margin-top: -20px;
    }

}