.dark-theme,
.dark-theme .modal-booking {
    color: whitesmoke;
    background-color: var(--basic-dark-grey);
}

.dark-theme .about__link,
.dark-theme .terms__link,
.dark-theme .item-special__link {
    color: whitesmoke;
    
}

.dark-theme .about__link:hover,
.dark-theme .terms__link:hover,
.dark-theme .menu__logo,
.dark-theme .menu__link,
.dark-theme .burger-menu__link
{
    text-shadow: 
    0 0 10px var(--basic-violet),
    0 0 11px var(--basic-violet),
    0 0 20px var(--basic-violet),
    0 0 30px var(--basic-violet),
    0 0 40px var(--basic-violet),
    0 0 55px var(--basic-violet);
}


.dark-theme .modal-booking__close:hover {
    background-color: var(--neon-blue);
}

.dark-theme .modal-submit {
    background-color: var(--basic-dark-grey);
    padding: 5px;
}

.dark-theme .menu__theme {
    background-image: url(../img/icon/icon-moon.svg);
}

.dark-theme .subscribe__input {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-theme .subscribe__input::-webkit-input-placeholder {
    color: whitesmoke;
}

.dark-theme .subscribe__input::-moz-placeholder {
    color: whitesmoke;
}

.dark-theme .subscribe__input:-ms-input-placeholder {
    color: whitesmoke;
}

.dark-theme .subscribe__input::-ms-input-placeholder {
    color: whitesmoke;
}

.dark-theme .subscribe__input::placeholder {
    color: whitesmoke;
}

.dark-theme .header {
    background-image: none;
    -webkit-transition: none 0.1s ease-in;
    -o-transition: none 0.1s ease-in;
    transition: none 0.1s ease-in;
}

.dark-theme .sun-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dark-theme .menu__item:hover {
    border: none;
}

.dark-theme .special__item:hover,
.dark-theme .popular__item:hover {
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
    -webkit-box-shadow: 0px 5px 10px 10px rgba(194, 26, 138, 0.5);
            box-shadow: 0px 5px 10px 10px rgba(194, 26, 138, 0.5);
}

.dark-theme .menu__theme:hover {
    background-color: var(--basic-dark-grey-hover);
}

.dark-theme button:hover {
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
    -o-transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(51, 245, 245, 1);
            box-shadow: 0px 0px 10px 10px rgba(51, 245, 245, 1);
}

.dark-theme .burger-menu__link:hover,
.dark-theme .burger-menu__link:active,
.dark-theme button:hover,
.dark-theme .main-header__explore span:hover {
    text-shadow: 
    0 0 10px var(--neon-blue),
    0 0 11px var(--neon-blue),
    0 0 20px var(--neon-blue),
    0 0 30px var(--neon-blue),
    0 0 40px var(--neon-blue),
    0 0 55px var(--neon-blue);
}

.dark-theme .contacts-footer__title {
    color: #fff;
}

.dark-theme .contacts-footer__link:hover {
    -webkit-box-shadow: 10px 15px 20px 10px rgba(51, 245, 245, 1);
            box-shadow: 10px 15px 20px 10px rgba(51, 245, 245, 1);
}

.dark-theme .subscribe__inner span:hover {
    color: var(--basic-violet);
    text-shadow: 
    0 0 10px var(--basic-violet),
    0 0 11px var(--basic-violet),
    0 0 20px var(--basic-violet),
    0 0 30px var(--basic-violet),
    0 0 40px var(--basic-violet),
    0 0 55px var(--basic-violet);
    /* transition: color 0.1s ease-in; */
}